
.item {
    display: inline-block;
    vertical-align: bottom;
    min-width: 300px;
    width: 33%;
    min-height: 200px;
    background-color: rgb(240, 152, 70);
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.item-name {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.item-count {
    display: block;
    text-align: center;
    font-size: 25px;
}
.special {
    position: relative;
}
